@layer init, typography, design;

@import url(typography.css) layer(typography);

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@layer init{
    :root{
        --secondary: #83BCAC;
        --bg:#F6F3F5;
        --main-gap: 32px;
        font-family: "Source Sans 3", sans-serif;

        /*swiper*/
        --swiper-navigation-sides-offset: 0;
        --swiper-navigation-color: var(--secondary);

        --gradient-mobile: to left, rgba(255, 255, 255, 0.5), rgb(255, 255, 255);
        --gradient-desktop: to left, rgba(255, 255, 255, 0), rgb(255, 255, 255);
    }
}




@layer design{
    body{
        margin: 0;
    }
    .img-responsive{
        display: block;
        width: 100%;
        height: auto;
    }
    .card{
        border: 1px solid var(--bg);
        display: flex;
        flex-direction: column;

    }
    .btn{
        background-color: var(--secondary);
        color: white;
    }

    .summer-landing{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: var(--main-gap);
        background-color: var(--bg);
    }
    .summer-landing h1{
        position: absolute;
        left: -1000px;
    }

    .summer-landing__qualities{
        background-color: white;
        border-radius: 10px;
    }

    .qualities__card{
        align-items: center;
        gap: 10px;
        padding: 1rem 0;
    }
    .qualities__card h3{
        color: var(--secondary);
        font-size: 1rem;
        font-weight: 500;
    }
    .qualities__card img{
        width: 40px;
        height: auto;
    }


    .summer-landing__summer-fav, .summer-fav__card main{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .summer-landing__summer-fav{
        align-items: center;
    }
    .summer-fav__container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        
    }
    .summer-fav__card{
        background-color: white;
        padding: 1.25rem 1.5rem;
        max-width: 540px;
    }
    .summer-fav__card h3{
        font-size: 0.875rem;
    }
    
    .btn--cart{
        display: flex;
        justify-content: center;
        gap: 4px;
        padding: .25rem;
        border-radius: 8px;
    }
    .btn--cart img{
        height: 24px;
        width: 24px;
    }
    .availability{
        
        align-self: flex-start;
        color: #35A600;
        padding: .75rem .5rem;
        background-color: #EFF8EB;
        font-size: .75rem;
        font-weight: 500;
    }
    .price{
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--secondary);
    }
    .summer-fav__all-syrups{
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 1rem;
        border: 1px solid #848484;
        text-align: center;
        align-self: stretch;
    }
    .summer-fav__all-syrups span{
        color: var(--secondary);
        font-weight: 500;
    }
    .btn--all-syrups{
        padding: 1rem .75rem;
        border-radius: 12px;
    }
    .swiper{
        width: 100%;
        height: 480px;
        
    }
    .swiper-slide{
        background-color: white;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }
    .swiper-slide main{
        z-index: 1;
    }
    .swiper-slide h2{
        margin-left: 2.5rem;
    }
    .swiper-slide ol{
       width: 85%;
       margin: 0 2.5rem;
       padding: 0;
        counter-reset: list-counter;
    }
    .swiper-slide li{
        margin: 1.5rem 0;
       list-style: none;
       display: flex;
        align-items: center;
        gap: .75rem;
    }
    .swiper-slide li::before {
      content: counter(list-counter);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: var(--secondary);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
    .swiper-slide li:not(.special){
      counter-increment: list-counter;
    }

    /* Zvláštní styl pro jednu položku s ikonou */
    .swiper-slide li.special::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='white' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.093 -6.263l3.093 6.263l6.9 1l-5 4.867l1.179 6.873z' /%3E%3C/svg%3E");
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .desktop{
        display: none;
    }
    .swiper-slide{
        display: flex;
        position: relative;
    }
    .swiper-slide .bg{
        position: absolute;
        right: 0;
        width: calc(100% - 50vw + 16.6667vw);
         max-width: 100%;
        height: 100%;
    }
    .swiper-slide .syrup{
        background: 
        linear-gradient(var(--gradient-mobile)),
        url('/images/sirup_v_kuchyni.jpg') center/cover no-repeat;
    }
    .swiper-slide .slushy{
        background: 
        linear-gradient(var(--gradient-mobile)),
        url('/images/ledova_trist.jpg') center/cover no-repeat;
    }
    .swiper-slide .lemonade{
        background: 
        linear-gradient(var(--gradient-mobile)),
        url('/images/domaci_limonada.jpg') center/cover no-repeat;
    }





     @media only screen and (min-width: 1080px) {
        .summer-landing__qualities{
            display: flex;
        }
        .card{
            flex:1;
        }

        .summer-landing__summer-fav{
            align-items: start;
        }

        .summer-fav__container{
            flex-direction: row;
            gap: 0;
        }
        .summer-fav__all-syrups{
            flex-direction: row;
            padding: 2rem 4rem;
        }
        .summer-fav__all-syrups p{
            flex: 1
        }
    }
}

